#jinja2: lstrip_blocks: True
##
# {{ ansible_managed }}
#

# monitors cloud-init-output, this is unformatted so gets sent wholesale

input(type="imfile"
	File="/var/log/cloud-init-output.log"
	Tag="cloud-init-logs"
	addMetadata="on"
	ruleset="remoteTextLog"
	{% for key, value in (sansible_rsyslog_defaults_imfile | combine(sansible_rsyslog_config_imfile)).items() %}
	{{ key }}="{{ value }}"
	{% endfor %}
)
