##
# {{ ansible_managed }}
#

{% for log_settings in sansible_rsyslog_builtin_configs_nginx_access_logs_logs %}

input(type="imfile"
	File="{{ log_settings.path }}"
	Tag="nginx-access-logs"
	addMetadata="on"
	ruleset="remoteJsonLog"
)

{% endfor %}
