#jinja2: lstrip_blocks: True
##
# {{ ansible_managed }}
#

{% for log_settings in sansible_rsyslog_builtin_configs_nginx_access_logs_logs %}

input(type="imfile"
	File="{{ log_settings.path }}"
	Tag="nginx-access-logs"
	addMetadata="on"
	ruleset="remoteJsonLog"
{% if sansible_rsyslog_imfile_use_reopen_on_truncate %}
	reopenOnTruncate="on"
{% endif %}
)

{% endfor %}
