#jinja2: lstrip_blocks: True
##
# {{ ansible_managed }}
#

{% for log_settings in sansible_rsyslog_builtin_configs_nginx_access_logs_logs %}

input(type="imfile"
	File="{{ log_settings.path }}"
	Tag="nginx-access-logs"
	addMetadata="on"
	ruleset="remoteJsonLog"
	{% for key, value in (sansible_rsyslog_defaults_imfile | combine(sansible_rsyslog_config_imfile)).items() %}
	{{ key }}="{{ value }}"
	{% endfor %}
)

{% endfor %}
