##
# {{ ansible_managed }}
#

# monitors unformatted application logs, they will get sent wholesale to
# logstash with some extra bits of furniture (server role, host etc.)

{% for log_settings in item.value.logs %}

input(type="imfile"
	File="{{ log_settings.path }}"
	Tag="application-logs"
	addMetadata="on"
	ruleset="remoteTextLog"
)

{% endfor %}
