##
# {{ ansible_managed }}
#

# Transport auth messages to logstash
auth,authpriv.* action(
	type="omfwd"
	Target="{{ sansible_rsyslog_logstash_host }}"
	Port="{{ sansible_rsyslog_logstash_port }}"
	Protocol="tcp"
	RebindInterval="100"
	template="authlogTemplate"
)
