##
# {{ ansible_managed }}
#

# Transport auth messages to logstash
auth,authpriv.* action(
	type="omfwd"
	Target="{{ rsyslog.logstash.host }}"
	Port="{{ rsyslog.logstash.port }}"
	Protocol="tcp"
	RebindInterval="100"
	template="authlogTemplate"
)
