#jinja2: lstrip_blocks: True
##
# {{ ansible_managed }}
#

# accepts json formatted application logs, they will get sent wholesale to
# logstash with some extra bits of furniture (server role, host etc.)


input(type="imuxsock"
	Socket="/var/run/rsyslog/json.sock"
	CreatePath="on"
	ruleset="remoteDockerJsonLog"
)

# Template for shipping JSON logs from Docker
# Just adds some furniture to the json message
template(name="jsonDockerLogTemplate"
	type="list") {
	constant(value="{ ")
	constant(value="\"type\":\"")
	property(name="programname")
	constant(value="\", ")
	constant(value="\"host\":\"")
	property(name="hostname")
	constant(value="\", ")
	constant(value="\"@version\":\"2\", ")
	constant(value="\"role\":\"")
	property(name="programname")
	constant(value="\", ")
	property(name="msg" position.from="2")
}

ruleset(name="remoteDockerJsonLog") {
	# Don't log ELB healthchecks
	:msg, contains, "ELB-HealthChecker" stop
	:msg, contains, "healthcheck" stop
	action(type="mmjsonparse" cookie="")
	action(
		{% for key, value in (sansible_rsyslog_defaults_omfwd | combine(sansible_rsyslog_config_omfwd)).items() %}
		{{ key }}="{{ value }}"
		{% endfor %}
		type="omfwd"
		Target="{{ sansible_rsyslog_logstash_host }}"
		Port="{{ sansible_rsyslog_logstash_port }}"
		Protocol="tcp"
		template="jsonDockerLogTemplate"
	)
	stop
}
