#jinja2: lstrip_blocks: True
##
# {{ ansible_managed }}
#

# Transport system and kernal (syslog) messages to logstash
*.*;auth,authpriv.none action(
	{% for key, value in (sansible_rsyslog_defaults_omfwd | combine(sansible_rsyslog_config_omfwd)).items() %}
	{{ key }}="{{ value }}"
	{% endfor %}
	type="omfwd"
	Target="{{ sansible_rsyslog_logstash_host }}"
	Port="{{ sansible_rsyslog_logstash_port }}"
	Protocol="tcp"
	template="syslogTemplate"
)
stop
